:root {
  /* style colours */
  --grey-font-colour: #676767;
  --red-font-colour: #743129;
  --brown-font-colour: #975b24;
  --bg-colour: #f2efea;
  --card-colour: #ffffff;

  /* bike colour options */
  --bike-colour-black: #231f20;
  --bike-colour-cream: #f0ebd8;
  --bike-colour-red: #ba131a;
  --bike-colour-blue: #4a7094;
  --bike-colour-green: #999f81;
}

* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 3.5%;
  background-color: var(--bg-colour);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 2%;
}

/* nav */
nav {
  margin-bottom: 5%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10%;
}

.logo-container img {
  max-width: 25%;
}

.brands-menu p {
  text-transform: uppercase;
  color: var(--grey-font-colour);
  letter-spacing: 2px;
}

.brands-menu a {
  color: var(--red-font-colour);
}

/* product cards */
.product-card {
  background-color: var(--card-colour);
  max-width: 70%;
  padding: 3%;
}

.product-card img {
  max-width: 100%;
}

.brand-name {
  text-transform: uppercase;
  margin-top: 3%;
}

.product-name {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: solid;
  border-color: var(--grey-font-colour);
  border-width: 1px;
  font-weight: normal;
  margin-top: 1%;
}

.product-info-table {
  border: solid;
  border-color: var(--bg-colour);
  border-width: 2px;
  padding: 3%;
  font-style: italic;
  margin-top: 2%;
}

.bold {
  font-weight: bold;
}

.price {
  display: flex;
  flex-direction: row;
  gap: 3%;
  border-bottom: solid;
  border-color: var(--bg-colour);
  border-width: 2px;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

.colours {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  border-bottom: solid;
  border-color: var(--bg-colour);
  border-width: 2px;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

.product-colours {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10%;
  max-width: 70%;
}

.black {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--bike-colour-black);
}

.white {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--bike-colour-cream);
}

.red {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--bike-colour-red);
}

.blue {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--bike-colour-blue);
}

.green {
  display: block;
  aspect-ratio: 1/1;
  background-color: var(--bike-colour-green);
}

.stock {
  display: flex;
  flex-direction: row;
  gap: 3%;
  border-bottom: solid;
  border-color: var(--bg-colour);
  border-width: 2px;
  padding-bottom: 1.5%;
  padding-top: 1.5%;
}

.button {
  display: flex;
  flex-direction: row;
  padding-top: 3%;
  justify-content: center;
}

button {
  background-color: var(--card-colour);
  color: var(--brown-font-colour);
  border-color: var(--brown-font-colour);
  border-width: 2px;
  font-size: 130%;
  text-transform: uppercase;
}

/* media queries */
@media screen and (min-width: 601px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0;
  }

  .product-card {
    max-width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  main {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5%;
    /* grid-row-gap: 10%; */
  }
}
